<div class="container-fluid">
    <h1 style="text-align:center;">Task complete Details</h1>
    <ul class="list-group">
        <li class="list-group-item active">Customer order management:</li>
        <li class="list-group-item">List of customers (list view/ card view)</li>
        <li class="list-group-item">Customer details page</li>
        <li class="list-group-item">Add/Edit customer (form)</li>
        <li class="list-group-item">Customer's orders(all/customer wise) </li>
        <li class="list-group-item">Front end search with angular pipe for list</li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item active">Must use basic angular features:</li>
        <li class="list-group-item"> Property and event binding</li>
        <li class="list-group-item">Input output properties</li>
        <li class="list-group-item">Services for api(can create dummy api using express</li>
        <li class="list-group-item">Routing guards</li>
        <li class="list-group-item"> Forms- template driven reactive form</li>
            <li class="list-group-item">Pipe for search</li>
            <li class="list-group-item">Lazy loading</li>
      </ul>
</div>