<div class="container ">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div *ngFor='let in of counter(100) ;let i = index' class="{{ setColor(i+1) }} rounded box col-md-1">{{i+1}}</div>
      </div>
    </div>
    <div style="text-align: center;" class="col-2">

        <div class="row">
<div class="col-12"><h1>Previous Choice</h1>  <h1 *ngIf="prev !=0">{{prev}}</h1></div>
<div class="col-12"> <h1>Current Choice </h1> <h1  *ngIf="current !=0">{{current}}</h1></div>
        </div>
      <button *ngIf="!status" (click)="PickOne()" class="btn btn-primary">Pick One</button>
      <button *ngIf="status" (click)="Reset()" class="btn btn-primary">Reset</button>
    </div>
  </div>
</div>
