<div class="card"  >
    <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/customers">Customers</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Customer </li>
        </ol>
      </nav>
  
    </div>
    <div class="container-fluid row">
      <div style="text-align: center;" class="col-md-4">
        <h5> Profile Preview</h5>
   <img  *ngIf="CustomerForm.value['profile']" width="100px"  height="250px" [src]="CustomerForm.value['profile']">
      </div>
      <form [formGroup]="CustomerForm"  class="col-md-5 ">
    
        <div class="form-group">
          <label >Full Name</label>
          <input formControlName="full_name"     type="text" class="form-control"  >
          <div
          *ngIf="submitted && cc.full_name.errors"
          class="alert alert-warning"
        >
          <div *ngIf="cc.full_name.errors.required">Full name is required</div>
        </div>
        </div>
        <div class="form-group">
          <label >Email address</label>
          <input formControlName="email"     type="email" class="form-control"  >
          <div
          *ngIf="submitted && cc.email.errors"
          class="alert alert-warning"
        >
          <div *ngIf="cc.email.errors.required">Email is required</div>
         
        </div>
        </div>
        <div class="form-group">
          <label >Gender</label>
          <select
          class="custom-select"
          (change)="changeGender($event)"
          formControlName="gender"
        >
          <option value="" disabled>Select Gender</option>
          <option *ngFor="let gender of genders" [value]="gender">
            {{ gender }}
          </option>
        </select>
          <div
          *ngIf="submitted && cc.gender.errors"
          class="alert alert-warning"
        >
          <div *ngIf="cc.gender.errors.required">Gender is required</div>
        </div>
        </div>
        <div class="form-group">
          <label >Profile Url</label>
          <input formControlName="profile"     type="text" class="form-control"  >
          <div
          *ngIf="submitted && cc.profile.errors"
          class="alert alert-warning"
        >
          <div *ngIf="cc.profile.errors.required">Profile URL is required</div>
        </div>
        </div>
        <div style="text-align: center;">
        <a (click)="Back()"   class="btn btn-danger">Back</a>
        <button type="submit" (click)="Add()"   class="btn btn-primary">Add</button>
      </div>
      </form>
      </div>
  </div>