<div class="card"  >
  <div class="card-body">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/customers">Customers</a></li>
        <li class="breadcrumb-item active" aria-current="page">Customer - {{ id }}</li>
      </ol>
    </nav>

  </div>
  <div  class="container-fluid row">
  <table class="table" *ngIf="viewMode">
    <tr><td>Full name</td><td>{{ customer['full_name']}}</td></tr>
    <tr><td>Email</td><td>{{ customer['email']}}</td></tr>
    <tr><td>gender</td><td>{{ customer['gender']}}</td></tr>
    <tr><td>profile</td><td>{{ customer['profile']}}</td></tr>
  </table>
  </div>
  <div  class="container-fluid row">
    <form [formGroup]="CustomerForm"  *ngIf="!viewMode" class="col-md-5 offset-md-4">
      <div class="form-group">
        <label >Full Name</label>
        <input formControlName="full_name"   [readonly]="viewMode"   type="text" class="form-control"  >
      </div>
      <div class="form-group">
        <label >Email address</label>
        <input formControlName="email"   [readonly]="viewMode"   type="email" class="form-control"  >
      </div>
      <div class="form-group">
        <label >Gender</label>
        <input formControlName="gender"   [readonly]="viewMode"   type="text" class="form-control"  >
      </div>
      <div class="form-group">
        <label >Profile Url</label>
        <input formControlName="profile"   [readonly]="viewMode"   type="text" class="form-control"  >
      </div>
     
    </form>
    </div>
    <div style="text-align: center;" >
      <button (click)="Edit()" *ngIf="viewMode"  class="btn btn-primary">Edit</button>
      <button (click)="Back()" *ngIf="viewMode"  class="btn btn-danger">Back</button>
      <button type="submit" [disabled]="!CustomerForm['valid']" (click)="Update()" *ngIf="editMode"  class="btn btn-primary">Update</button>
    </div>

</div>